#sect01{
  height : 100%;
  display : none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap : 1rem;
  grid-template-areas:
  "a a a"
  "b b c"
  "b b c"
  ;
  overflow : hidden;
  overflow-y: visible;
  margin-top : 2.5rem;

  .inner{
    margin : 4rem 100px;
  }

  .sub-tlt{
    font-size : 1.2rem;
    padding-bottom : 2rem;
  }

  section.my-recipes{
    height : 22rem;
    overflow : hidden;
    padding: 2rem;
    grid-area : a;
    box-shadow : 1px 0.1rem 1rem rgb(0 0 0 / 20%);
    border-radius: 20px;
    margin-bottom : 0px;

    ul.recipes{
      display : flex;
      flex-direction: row;
      overflow-x: auto;

      .recipe{
        border : 1px solid var(--color-yellow-1);
        border-radius : 10px;
        height : 13rem;
        padding-top : 7px;
        width : 500px;
        text-align: center;
        margin-left : 1rem;

        p.recipe_title{
          height : 20px;
          overflow: hidden;
        }


        img.menu_img{
          width : 150px;
          height : 90px;
        }

        ul.ingredients{
          display : flex;
          justify-content: center;
          align-items: center;

          li{
            margin : 0;
            display :flex;
            flex-direction: column;
            flex-wrap : wrap;
            font-size : 0.8rem;
            justify-content: center;
            align-items : center;

            img{
              width : 60px;
            }
          }

        }
      }
    }
  }

  section.ranking{
    grid-area : b;
    box-shadow : 1px 0.1rem 1rem rgb(0 0 0 / 20%);
    border-radius: 20px;
    margin-left : 100px;
  }

  section.ad{
    grid-area : c;
    box-shadow : 1px 0.1rem 1rem rgb(0 0 0 / 20%);
    border-radius: 20px;
    margin-right : 100px;
    height : 600px;
    display : flex;
    flex-direction: column;
    position  :relative;
    overflow: hidden;

    ul.ad-slides{
      width : 100%;
      height : 90%;
      display : flex;
      flex-wrap : wrap;
      flex-direction: column;
      position : absolute;
      left : 0;
      top : 0;

      li{
        width : 100%;
        height : 100%;
        padding-top  :1rem;

        img{
          width : 100%;
          height :100%;
        }
      }
    }

    ul.circles{
      display :flex;
      width : 100%;
      justify-content: center;
      height : 100%;
      align-items : center;
      position : absolute;

      li{
        display : inline-block;
        width : 10px;
        height : 10px;
        background-color : var(--color-black);
        border-radius: 50%;
        margin-left : 1rem;
      }
      li.active{
        background-color : blue;
      }
      li:nth-child(1){
        display : none;
      }

      li:last-child{
        display : none;
      }
    }
  }
}

#sect01.active{
  display : grid;
}