footer{
  grid-area : d;
  font-family: var(--font-primary);
  display : flex;
  align-items: center;
  margin : 0 5rem 0;
  justify-content: space-between;
  h2.logo{
    font-size : 18px;
    font-family : var(--font-logo);
    span:nth-child(2){
      color : var(--color-yellow-1);
    }
    span:nth-child(3){
      color : var(--color-green-1);
    }
  }
  .copyright{
    margin : 0 5rem;
  }
  ul.sns{
    display : flex;
    li{
      border : 1px solid black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding : 4px;
      margin-left : 1rem;
      cursor : pointer;

      &:hover{
        background: #000;
      }
      .sns-icon{
        font-size : 26px;
        &:hover{
          color : white;
        }
      }
    }
  }
}