header{
  display : none;
  grid-area : a;
  height : 100%;
  font-family: var(--font-primary);
  padding : 0 100px;
  border-right : 1px solid var(--color-grey-1);

  h1.logo{
    font-family : var(--font-logo);
    font-size : 2.5rem;
    padding : 3rem 0;
    span:nth-child(2){
      color : var(--color-yellow-1);
    }
    span:nth-child(3){
      color : var(--color-green-1);
    }
  }

  div.user-profile{
    flex-direction : column;
    text-align : center;

    img{
      width : 6rem;
      height : 6rem;
      border-radius: 50%;
    }

    p.username{
      font-size : 24px;
      margin-top : 10px;
    }
    p.email{
      font-size : 18px;
      color : var(--color-grey-1);
    }
  }

  .nav{
    margin : 3rem 0;
    font-size : 18px;

    #gnb{
      >li{
        margin-bottom : 2rem;

        &:hover{
          cursor : pointer;
          color : var(--color-green-1);
          a{
            color : var(--color-green-1);
          }
        }

        .gnb-sub-wrap{
          max-height : 0;
          overflow : hidden;
          transition: max-height 0.2s ease-in;
          font-family : var(--font-nanum);
          font-size : 1rem;

          li{
            margin : 1rem 0;
            a{
              color : var(--color-grey-2);
            }
            &:hover{
              a{
                color : var(--color-green-1);
                text-decoration-line: underline;
              }
            }
          }
        }
      }

      .active{
        .gnb-sub-wrap{
          border-top : 1px solid var(--color-grey-1);
        }
      }
    }
  }
}