#home {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-template-areas: "a a a" "b b c" "b b c";
  overflow: hidden;
  overflow-y: visible;
}
#home section.my-recipes {
  grid-area: a;
  box-shadow: 1px 0.1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 0px;
}
#home section.my-recipes h2.sub-tlt {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
#home section.my-recipes ul.recipes {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
#home section.my-recipes ul.recipes .recipe {
  border: 1px solid var(--color-yellow-1);
  border-radius: 10px;
  height: 13rem;
  padding-top: 7px;
  width: 500px;
  text-align: center;
  margin-left: 1rem;
}
#home section.my-recipes ul.recipes .recipe p.menu-name {
  height: 20px;
  overflow: hidden;
}
#home section.my-recipes ul.recipes .recipe img.menu-img {
  width: 150px;
  height: 90px;
}
#home section.my-recipes ul.recipes .recipe ul.ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home section.my-recipes ul.recipes .recipe ul.ingredients li {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}
#home section.my-recipes ul.recipes .recipe ul.ingredients li img {
  width: 60px;
}
#home section.ranking {
  grid-area: b;
  box-shadow: 1px 0.1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-left: 100px;
}
#home section.ranking ul.rankings {
  display: flex;
  flex-wrap: wrap;
  height: 35rem;
  overflow: hidden;
  overflow-y: auto;
}
#home section.ranking ul.rankings li.item:first-child {
  background-color: var(--color-yellow-1);
}
#home section.ranking ul.rankings li.item:first-child .num {
  background-color: #FFBB0D;
}
#home section.ranking ul.rankings li.item:first-child p.likes {
  border-color: white;
}
#home section.ranking ul.rankings li.item {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-yellow-1);
  border-radius: 10px;
  height: 100px;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
}
#home section.ranking ul.rankings li.item .num {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home section.ranking ul.rankings li.item p.recipe-name {
  font-size: 0.8rem;
  width: 80px;
  margin-left: 10px;
}
#home section.ranking ul.rankings li.item img.menu-img {
  width: 150px;
  height: 90px;
}
#home section.ranking ul.rankings li.item ul.ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home section.ranking ul.rankings li.item ul.ingredients li {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}
#home section.ranking ul.rankings li.item ul.ingredients li img {
  width: 60px;
}
#home section.ranking ul.rankings li.item p.writer-profile {
  margin: 0 60px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#home section.ranking ul.rankings li.item p.writer-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#home section.ranking ul.rankings li.item p.likes {
  border: 1px solid var(--color-yellow-1);
  border-radius: 20px;
  padding: 10px;
}
#home section.ad {
  grid-area: c;
  box-shadow: 1px 0.1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-right: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
#home section.ad ul.ad-slides {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}
#home section.ad ul.ad-slides li {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}
#home section.ad ul.ad-slides li img {
  width: 100%;
  height: 100%;
}
#home section.ad ul.circles {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 1.3rem;
  position: absolute;
}
#home section.ad ul.circles li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 1rem;
  border: 1px solid var(--color-green-1);
}
#home section.ad ul.circles li.active {
  background-color: var(--color-green-1);
}
#home section.ad ul.circles li:nth-child(1) {
  display: none;
}
#home section.ad ul.circles li:last-child {
  display: none;
}/*# sourceMappingURL=Home.css.map */